In [1]:
import networkx as nx
import numpy as np
import physnet

In [2]:
ex1 = physnet.PhysNet()

In [3]:
ex1.read_swc('segmentation/data/Coral.swc')

In [4]:
ex1.create_g()

In [5]:
ex1.df

      node_id  type     x      y      z    radius  parents
0           1     0  18.0  119.0  211.0  1.000000       -1
1           2     0  19.0  120.0  210.0  2.000000        1
2           3     0  20.0  120.0  210.0  2.828427        2
3           5     0  21.0  120.0  210.0  3.605551        3
4           7     0  22.0  120.0  210.0  4.242640        5
...       ...   ...   ...    ...    ...       ...      ...
7416       36     0  32.0  215.0   84.0  4.582576       32
7417       35     0  32.0  215.0   83.0  4.000000       36
7418       29     0  31.0  215.0   82.0  3.000000       35
7419       26     0  30.0  214.0   81.0  2.000000       29
7420       23     0  29.0  213.0   80.0  1.000000       26

[7421 rows x 7 columns]

In [11]:
ex1.physicality_segment(dual=False)

In [7]:
ex1.create_g()

3

In [12]:
ex1.df

      node_id  type     x      y      z    radius  parents
0           1     0  18.0  119.0  211.0  1.000000       -1
1           2     0  19.0  120.0  210.0  2.000000        1
2           3     0  20.0  120.0  210.0  2.828427        2
3           5     0  21.0  120.0  210.0  3.605551        3
4           7     0  22.0  120.0  210.0  4.242640        5
...       ...   ...   ...    ...    ...       ...      ...
7416       36    76  32.0  215.0   84.0  4.582576       32
7417       35    76  32.0  215.0   83.0  4.000000       36
7418       29    76  31.0  215.0   82.0  3.000000       35
7419       26    76  30.0  214.0   81.0  2.000000       29
7420       23    76  29.0  213.0   80.0  1.000000       26

[7421 rows x 7 columns]

In [13]:
g = nx.Graph()

In [14]:
g.add_edge(0,1,type=1)

EdgeDataView([(0, 1, {'type': 1})])